$Main-Secondary : #70C05B;
$White-color: #fff;
$Main-onSurface: #414141;
$main-Primary: #FF6633;
$Main-BGPage: #FBF8EC;
$Main-PrimaryMuted: #FCD5BA;
$Main-SecondaryMuted: #E5FFDE;
$Main-onSurface: #414141;
$Grayscale-Hard: #8F8F8F;


.section-kompany{
    width: 100%;
    height: 1219px;
    background: $Main-BGPage;
}

.o-kom{
    margin-top: 30px;
    padding-top: 100px;
    padding-left: 116px;
    display: flex;
    gap: 20px;

    .glav-5{
        color: $Main-onSurface;
        font-family: Rubik;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .com{
        color: $Grayscale-Hard;
        font-family: Rubik;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}


 
//     display: flex;
    // justify-content: space-around;
    // align-items: center;

    .content{
        position: relative;
        top: 200px;

        .title-company{
            color: $Main-onSurface;
            font-family: Rubik;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; 
        }
        .text-company{
            color: #F63;
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; 
        }
    }
    
    .tepa{
       position: relative;
       bottom: 100px;
       z-index: 1;
    }

    .dizayn{
        position: relative;
        left: 680px;
    }


.o-kampaniya-ofis{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .more{
        display: flex;
    }
}    