.section-rang{
    width: 100%;
    height: 1260px;
    background:  #FBF8EC;
}


.title-producta{
    margin-top: 50px;
    padding-top: 100px;
    margin-left: 116px;

    .text-producta{
        color:  #414141;
        font-family: Rubik;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; 
    }
}