
// @use "../global";

$Main-Secondary : #70C05B;
$White-color: #fff;
$Main-onSurface: #414141;
$main-Primary: #FF6633;
$Main-BGPage: #FBF8EC;
$Main-PrimaryMuted: #FCD5BA;
$Main-SecondaryMuted: #E5FFDE;
$Main-onSurface: #414141;
$Grayscale-Hard: #8F8F8F;
